<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-wight sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="logo">
          <img src="assets/img/Logo.jpg" alt="logo">

        </div>
      </a>





      <!-- Divider -->
      <hr class="sidebar-divider">

      <div class="row gutters-sm">
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                  width="150">
                <div class="mt-3">
                  <h6>John Doe</h6>
                  <p class="text-secondary mb-1">johndoe@abcinc.com </p>
                  <p class="text-secondary mb-1">Administrator </p>

                  <button class="btn btn-outline-info">Profile</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow mb-4" style="background-color: rgba(243, 242, 237, 0.845);">
            <div class="card-header py-3" style="background-color: rgba(235, 228, 160, 0.845);">
              <h6 class="m-0 font-weight-bold ">VIP</h6>
            </div>
            <div class="card-body"> <!-- Company List Button -->
              <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link text-secondary" routerLink="/paymenttype">
                  Company List
                </a>
              </li>
              <!-- Suppliers Button -->
              <li class="sidebar-item"routerLinkActive="active">
                <a class="sidebar-link text-secondary" routerLink="/paymenttype">
                  Suppliers
                </a>
              </li>
              <!-- Trainers Button -->
              <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link text-secondary" routerLink="/paymenttype">
                  Trainers
                </a>
              </li>
              <!-- CSR Experts Button -->
              <li class="sidebar-item"  routerLinkActive="active">
                <a class="sidebar-link text-secondary" routerLink="/pay">
                  CSR Experts
                </a>
              </li>
            </div>
          </div>






        </div>
        <!-- Heading -->


      </div>
    </ul>
    <!-- End of Sidebar -->



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-info" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">



            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" routerLink="/pay" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>

              </div>
            </li>





          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="dashboard-content">


          <!-- Content Row -->
          <div class="row"></div>



          <div class="row">


            <div class="col-lg-12 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4" style="background-color: rgba(255, 255, 255, 0.5);">
                <!-- Card content goes here -->

                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <!-- Première carte -->
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-info">CSR Article</h6>
                        </div>
                        <div class="card-body">
                          <p>Corporate Social Responsibility (CSR) is a business approach that goes beyond
                            profit-making and emphasizes a company's responsibility to contribute positively
                            to society and the environment. It involves integrating ethical and sustainable
                            practices into the core business strategies, considering the impact on
                            stakeholders, communities, and the planet. CSR encompasses various initiatives,
                            such as supporting social causes, reducing environmental footprint, promoting
                            diversity and inclusion, and ensuring ethical supply chains. By adopting CSR,
                            companies not only contribute to the betterment of society but also enhance
                            their reputation, build trust with customers, and drive long-term sustainable
                            growth.</p>
                          <button type="button" class="btn btn-info"> <i class="fas fa-plus fa-lg"></i> Add an article
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <!-- Deuxième carte -->
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-info">Training available</h6>
                        </div>
                        <div class="card-body">
                          <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Type</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let m of formations">
                                <td>{{m.formationName}}</td>
                                <td>{{m.formationType}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-header ">
                  <h6 class="m-0 font-weight-bold text-info">It is easier than ever to become an “Ethical Consumer”</h6>
                </div>
                <div class="card-body">

                  <div>In today's world, where every purchase we make has far-reaching consequences, being an ethical
                    consumer is no longer just an option—it's a responsibility. Ethical Consumer is your guiding light
                    on the path to making informed, socially responsible choices in your daily life.

                    <h6>Why Ethical Consumer?</h6>

                    At Ethical Consumer, we understand the power of your purchasing decisions. We provide you with all
                    the
                    information and inspiration you need to revolutionize the way you spend, save, and live. Here's why
                    you should join our community of ethical consumers:

                    <h6>1. Empowerment:</h6> Your choices matter. By learning how to use your spending power wisely, you
                    can actively contribute to making the world a better place. Ethical Consumer equips you with the
                    knowledge and resources to make ethical, sustainable choices.

                    <h6>2. Community:</h6> Join thousands of individuals who are committed to making ethical consumer
                    choices. Connect with like-minded people who share your passion for a more responsible and
                    sustainable
                    future. Together, we can amplify our impact.

                    <h6>3. Change the World:</h6> Every purchase you make is an opportunity for change. Discover ethical
                    products and services, support responsible businesses, and be part of a movement that's reshaping
                    industries and protecting our planet.

                    <h6>Getting Started with Ethical Consumer</h6>

                    Ready to embark on your journey as an ethical consumer? It's easy to get started with Ethical
                    Consumer:

                    Explore our website to access a wealth of information and resources on ethical consumerism.
                    Discover ethical products and services in our comprehensive directory.
                    Join our community of ethical consumers and connect with others who share your values.
                    <h6>Join Us Today
                    </h6>
                    Empower yourself as an ethical consumer with Ethical Consumer. Start making choices that align with
                    your values and contribute to a more sustainable and responsible world. Together, we can create
                    positive change through our everyday decisions.

                  </div>
                  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                  <div class="row">
                    <div class="col-md-12">
                      <div>Visit Ethical Consumer today and be part of a movement that's transforming the way we shop
                        and live.</div>
                    </div>
                    <div class="col-md-4">
                      <a href="#" class="btn btn-outline-info">Learn More</a>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->


      <footer class="bg-white text-center text-dark">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-success btn-floating m-1" href="#!" role="button"><i
                class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(255, 251, 251);">
          © 2023 Copyright: sustain evolution
        </div>
        <!-- Copyright -->
      </footer>


      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>

</body>

</html>