<app-header></app-header>
<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" [(ngModel)]="user.email" [ngModelOptions]="{standalone : true}" required>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password" [(ngModel)]="user.password" [ngModelOptions]="{standalone : true}" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
    <div *ngIf="notExist" class="alert alert-danger">User not found</div>
  </form>
</div>
<app-footer></app-footer>
