<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css"
    rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
  />


<section class="candidates-profile-bg" style="background-image: url(../../../assets/img/15.png);background-size: cover; /* Adjust this based on your preference */
background-position: center center;
                width: 100%;
                      height: 100%;">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="candidates-profile-details text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                        class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4">
                    <h4 class="text-white candidates-profile-name mb-2">David</h4>
                    <ul class="candidates-profile-icons list-inline mb-3">
                        <li class="list-inline-item text-white-50 pr-2 f-16">GreenTech Solutions Inc</li>

                    </ul>
                    <p class="text-white-50 mb-2"><i class="fas fa-envelope"></i>
                        user.david@gmail.com</p>
                    <ul class="candidates-profile-icons list-inline mb-3">
                        <li class="list-inline-item text-white-50 pr-2 f-16">Product Manager</li>

                    </ul>
                   


                    <ul class="candidates-profile-social-icons list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark">About GreenTech Solutions Inc</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        <div class="text-muted f-14 mb-3"> <h6 class="text-success"> Who We Are ? </h6> 
                            <br>

                            At GreenTech Solutions Inc., we are at the forefront of innovation in sustainable technology. Our mission is to harness the power of technology to create eco-friendly solutions that address some of the world's most pressing environmental challenges.
                            
                            Our Vision
                            
                            We envision a world where technology and sustainability go hand in hand. Our vision is to lead the way in developing cutting-edge solutions that not only improve lives but also protect our planet.
                            
                            What We Do
                            
                            Innovative Sustainable Technologies: We specialize in developing and implementing innovative technologies that reduce environmental impact.
                            
                            Green Energy Solutions: Our team is dedicated to advancing renewable energy sources and optimizing energy efficiency.
                            
                            Environmental Conservation: We are committed to protecting natural resources and ecosystems through responsible technology.
                            
                            Our Values
                            
                            Innovation: We thrive on innovation, constantly pushing the boundaries of what's possible in sustainable technology.
                            
                            Environmental Responsibility: We understand the importance of preserving our planet for future generations and take our role in environmental conservation seriously.
                            
                            Collaboration: We believe that together, we can achieve more. We actively collaborate with partners, clients, and experts in the field to drive change.
                            
                            Why Choose GreenTech Solutions Inc.?
                            
                            Expertise: With a team of highly skilled professionals, we bring expertise and experience to every project.
                            
                            Commitment: Our commitment to sustainability is unwavering, and we work tirelessly to deliver solutions that make a difference.
                            
                            Impact: We measure our success by the positive impact we have on the environment and society..
                        </div>

                        
                    </div>
                    <hr>
                    <ul class="list-inline mt-3 mb-0">
                       
                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>123 Ecology Street, Green City</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i
                                    class="mdi mdi-web mr-2"></i>GreenTech.tn</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i
                                    class="mdi mdi-email mr-2"></i>Webthemes.ltd@gmail.com</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>123 456
                                7890</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-4">Corporate Social Responsibility</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        <div class="text-muted f-14 mb-3">
                            CSR Commitments:
                            <br>
                            Specific CSR goals: Reduce carbon footprint by 20% by 2025, promote minority inclusion in the tech industry.
                            Implemented CSR initiatives: E-waste recycling program, partnership with local organizations for educational programs.
                            Sustainable development projects undertaken: Installation of solar panels on the headquarters' roof, eco-responsibility awareness campaigns.
                           <br>
                            Environmental Practices:
                            <br>
                            Carbon footprint reduction measures: Use of renewable energies, encourage employee carpooling.
                            Use of renewable energies: 30% of electricity is from renewable sources.
                            Recycling and waste management policies: Internal e-waste recycling program, use of recycled materials in production.
                            Use of sustainable materials: Packaging in recyclable materials, use of FSC-certified paper.
                            <br>
                            Social Engagement:
                            <br>
                            Community support programs: Sponsorship of local non-profit organizations, participation in volunteer days.
                            Measures to promote diversity and inclusion: Diverse hiring policy, diversity awareness training.
                            Educational or training projects: Scholarships for computer science students, educational workshops for local schools.
                            <br>
                            Business Ethics:
                            <br>
                            Transparency and ethics policies: Ethical code of conduct for employees, transparent financial disclosure.
                            Anti-corruption and governance measures: Annual anti-corruption training, independent board of directors.
                            Respect for human rights and labor standards: Compliance with international labor standards, respect for employee rights.
                            <br>
                            Partnerships:
                            <br>
                            Collaborations with NGOs or government organizations: Partnership with GreenEarth Foundation, collaboration with the Ministry of Environment.
                            Joint projects with other companies or entities: Cooperation with other businesses for environmental awareness.
                            <br>
                            CSR Reports:
                            
                         Annual publications or progress reports: Annual sustainability report, key performance indicators related to CSR.
                         <br>  
                         Sustainable Innovations:
                         <br>
                           
                            Environmentally friendly products or services: Range of eco-certified products, sustainability consulting services.
                            Innovative technologies for sustainability: Development of eco-technological solutions for the industry.
                            
                            <br>
                            Impact Measurements:
                            <br>
                            Quantitative measurements: 15% reduction in carbon emissions in 2022, support for over 500 students through scholarships.
                            Testimonials or case studies: Customer case study on the impact of our eco-solutions.</div>

                        
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>
<app-footer></app-footer>