.payment-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-option {
    margin: 10px 0;
    font-size: 18px;
    display: flex; /* Ajoutez cette ligne pour aligner les boutons radio dans la même ligne */
    align-items: center; /* Centrez verticalement les éléments dans la ligne */
  }
  
  .payment-option input[type="radio"] {
    margin-right: 5px;
  }
  
  .proceed-button {
    background-color: #00ffbf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .proceed-button:hover {
    background-color: #00b33c;
  }
  